.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-attachment: static;
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */    
    height: 100vh;
  }

.jumbotron h1 {
  font-weight: 500;
}

.jumbotron .container {
  max-width: 50rem;
  padding: 2rem;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  color: #5a5a5a;
}

a {
  color: #5a5a5a;
  text-decoration: none;
}

a:hover {
  color: darkslateblue;
  text-decoration: none;
  font-weight: bold;
}

a i:hover {
color: darkslateblue;
font-weight: bold;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
